<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Primary Meta Tags -->
    <title>
        <%= SERVER_NAME %>
    </title>
    <meta name="title" content="<%= SERVER_NAME %>" />
    <meta name="description" content="Best Minecraft Server" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.youtube.com/channel/UCxc0awZSYYhnBp23Scs9sdQ" />
    <meta property="og:title" content="<%= SERVER_NAME %>" />
    <meta property="og:description" content="Best Minecraft Server" />
    <meta property="og:image" content="https://mcdn.wallpapersafari.com/medium/75/8/OilQ1o.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.youtube.com/channel/UCxc0awZSYYhnBp23Scs9sdQ" />
    <meta property="twitter:title" content="<%= SERVER_NAME %>" />
    <meta property="twitter:description" content="Best Minecraft Server" />
    <meta name="theme-color" content="#5e8849" />
    <meta property="twitter:image" content="https://mcdn.wallpapersafari.com/medium/75/8/OilQ1o.jpg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <main>
        <h1>
            <%= SERVER_NAME %>
        </h1>
        <button onclick="copyIp()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M15.666 3.888A2.25 2.25 0 0013.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 01-.75.75H9a.75.75 0 01-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 01-2.25 2.25H6.75A2.25 2.25 0 014.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 011.927-.184" />
            </svg>
            <%= SERVER_IP %>:<%= SERVER_PORT %>
        </button>
        <p>
            <%= SERVER_NAME %> is a <strong>best</strong> minecraft server
        </p>
        <nav>
            <a href="https://www.youtube.com/channel/UCxc0awZSYYhnBp23Scs9sdQ" title="KmoSha">YouTube</a>
        </nav>
    </main>
    <script>
        function copyIp() {
            navigator.clipboard
                .writeText("<%= SERVER_IP %>:<%= SERVER_PORT %>")
                .catch((error) => {
                    console.error(
                        `Failed to copy "${text}" to clipboard: ${error}`
                    );
                });
        }
    </script>
</body>

</html>